.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #2b2c33;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.MuiToolbar-root{
  background-color: #2b2c33;
}
.App-link {
  color: #61dafb;
}
.mapWrapper{
  position:relative;
}
.sidePanel{
  background-color: #1C274E;
  color:white;
  margin-top: 5%;
  height: 750px;
  width: 450px;
  position: absolute;
}
.sidePanel-data{
}
#map-toggles{
  position: absolute;
  align-content: center;
  background-color: #4a549e;
  color: white;
  border-radius: 3%;
}
.toggle-row {
  text-align: left;
  padding-left: 35px;
  color:'green';
}
#toggleon-icon{
  font-size: 20pt;
  background-color:'green';
}
#toggleoff-icon{
  font-size: 20pt;
  color:'red';
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


