.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.app-banner{
  background-color: #927272;
  height:55px;
}
.App-header {
  background-color: #2b2c33;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.MuiToolbar-root{
  background-color: #2b2c33;
}
.App-link {
  color: #61dafb;
}
.mapWrapper{
  position:relative;
}
.sidePanel{
  background-color: #1C274E;
  color:white;
  margin-top: 5%;
  position: absolute;
}
.sidePanel-data{
  width:25px;
}
.election-data{
  padding-top: 4%;
  height:''
}
#map-toggles{
  position: absolute;
  right:10;
  align-content: center;
  background-color: #8083D6;
  color: white;
  border-radius: 8px;
}
.toggle-row {
  text-align: left;
  padding-left: 20px;
}
#toggleon-icon{
  font-size: 15pt;
}
#toggleoff-icon{
  font-size: 15pt;
  color:'red';
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


