.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.MuiToolbar-root{
  background-color: #8d8d8d;
}
.App-link {
  color: #61dafb;
}
.mapWrapper{
  position:relative;
}
.sidePanel{
  background-color:#8d8d8d;
  color:white;
  margin-top: 5%;
  height: 750px;
  width: 450px;
  position: absolute;
}
.mapToggles{
  width: 500px;
  height:250px;
  position: absolute;
  right: 0; 
  background-color: #8d8d8d;
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.toggle-row {
  text-align: left;
  padding-left: 110px;
}

.mapToggles {
  align-content: center
}
